{{- $name := . -}}
{{- if in $name "Air Fryer" -}}cat-air-fryer
{{- else if in $name "Instant Pot" -}}cat-instant-pot
{{- else if in $name "Keto" -}}cat-keto
{{- else if in $name "Mom" -}}cat-moms
{{- else if in $name "Wedding" -}}cat-wedding
{{- else if in $name "Family" -}}cat-family
{{- else if in $name "Friend" -}}cat-friends
{{- else if in $name "Internet" -}}cat-internet
{{- else if in $name "Cookbook" -}}cat-cookbooks
{{- else if in $name "Weight" -}}cat-weight
{{- else if in $name "Maya" -}}cat-mayas
{{- else if in $name "Maddy" -}}cat-maddys
{{- end -}}